<audio
    #player
    src="http://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3">
</audio>

<ion-toolbar>
<div class="audioplayer">
    <ion-text class="ion-text-center" color="primary">
        <h6>Audio-Wiedergabe</h6>
      </ion-text>

    <ion-range
        min="0"
        [max]="duration"
        [value]="currentTime" 
        (ionChange)="seek($event)"
        class="custom-aduio"
        >
        <ion-label color="primary" slot="start">{{ currentTimeText }}</ion-label>
        <ion-label color="primary" slot="end">{{ durationText }}</ion-label>
    </ion-range>

    <div class="options">
        <ion-fab-button color="primary">
            <ion-icon name="play" size="large"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary">
            <ion-icon name="pause" size="large"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary" this.buttonDisabled="false">
            <ion-icon name="stop" size="large"></ion-icon>
        </ion-fab-button>
    </div>

    <div class="ion-text-center">
        <ion-button (click)="play()" size="large" fill="clear" color="light">
            <ng-container *ngIf="isLoading; else loaded">Loading</ng-container>

            <ng-template #loaded>
                {{ isPlaying ? 'pause' : 'play' }}
            </ng-template>
        </ion-button>
    </div>
</div>
</ion-toolbar>